<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/app.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    
   <div class="main-content">
    {{>header}}
    <p>{{message}}</p>
    <img class="portrait" src="https://images11.esquire.ru/upload/article/823/823ebf2f733810ec78faf42f13c13afa.jpg">
   </div>
  
    {{>footer}}
</body>
</html>